* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?cs=srgb&dl=pexels-jplenio-1103970.jpg&fm=jpg'); /* Đường dẫn đến hình nền */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 4px solid #eeeeee;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h4 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}

label {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 5px;
  display: block;
}

input,
select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  font-size: 14px;
  color: #333;
}

input[type="submit"] {
  border: none;
  background-color: orangered;
  color: white;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #d14000;
}

input::placeholder {
  color: #888888;
}

select {
  cursor: pointer;
}

select option {
  color: #333;
}

body, input, select, textarea {
  transition: all 0.3s ease;
}

input:focus,
select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
